{% extends 'app/start_tlo.html' %} 

{% block content %}


<form method="POST" class="text-center">
  {% csrf_token %}

 

  <div class="login-box text-center">

    <h1>Nowe hasło</h1>
    <div class="textbox">
        <i class="fas fa-key"></i>
        {{ form.new_password1 }}
    </div>
<br>
    <h1>Powtórz nowe hasło</h1>
    <div class="textbox">
        <i class="fas fa-key"></i>
        {{ form.new_password2 }}
    </div>
<br>
  

  {% if form.errors %}
  <div class="card shadow-lg" style="width: 256px;">

      <div class="text-center" style="width: 80%; margin: 0 auto">
         
        
        
        {% for key,value in form.errors.items %} 
          <h5 style="color:#b10a0a;">{{ value|escape }}</h1>
        {% endfor %}
      
      
        </div>
  </div>
{% endif %}


  <button style="margin-top: 20px; width: 180px;" class="btn btn-success" type="submit">Ustaw nowe hasło</button>
</div>
</form>



{% endblock %}