
{% extends 'app/start_tlo.html' %} 

{% block content %}



<form style="margin-top: 30px;" method="post">
    {% csrf_token %}
    <div class="login-box text-center">

    <h1>Stare hasło</h1>
    <div class="textbox">
        <i class="fas fa-key"></i>
        {{ form.old_password }}
    </div>
    <br>

    <h1>Nowe hasło</h1>
    <div class="textbox">
        <i class="fas fa-key"></i>
        {{ form.new_password1 }}
    </div>
    <br>

    <h1>Powtórz nowe hasło</h1>
    <div class="textbox">
        <i class="fas fa-key"></i>
        {{ form.new_password2 }}
    </div>
    <br>



    <ul style="color:#bdbdbd">
      <li>Twoje hasło nie może być zbyt podobne do twoich innych danych osobistych.</li>
      <li>Twoje hasło musi zawierać co najmniej 8 znaków.</li>
      <li>Twoje hasło nie może być powszechnie używanym hasłem.</li>
      <li>Twoje hasło nie może składać się tylko z cyfr.</li>
    </ul>

    <br>
    
    <button style="margin-top: 20px; width: 180px;" class="btn btn-success" type="submit">Zmień hasło</button>
  </div>
  </form>


{% endblock %}
