{% extends 'app/start_tlo.html' %}

{% block content %}






<form method="post" action="{% url 'login' %}">
{% csrf_token %}




    <div class="login-box text-center">
      <h1>Login</h1>
      <div class="textbox">
          <i class="fas fa-user"></i>
          <input type="text" name="username" required="" id="id_username">
      </div>

      <br>

      <h1>Hasło</h1>
      <div class="textbox">
          <i class="fas fa-key"></i>
          <input type="password" name="password" required="" id="id_password">
      </div>



      <input style="margin-top: 20px;" class="btn btn-success" type="submit" value="Zaloguj się" /><br><br>
      
      
      {% if form.errors %}
        <div class="card shadow-lg">

            <div class="text-center" style="width: 80%; margin: 0 auto">
               <h5 style="color:#b10a0a;">Błędny login lub hasło. Spróbuj jeszcze raz</h1> 
            </div>
            
        </div>
      {% endif %}
      
      
      <br>
      <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-danger btn-sm" style="width: 130px;"><i class="fab fa-google"></i></a>
      <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary btn-sm" style="width: 130px;"><i class="fab fa-facebook"></i></a>

      <br><br>

      <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-sm">Zapomniałeś hasła?</a>  
    </div>







<input style="text-align: center" type="hidden" name="next" value="{{ next }}" />
</form>



{% endblock %}


























