{% extends 'app/main_tlo.html' %}

{% block content %}

<form method="POST" enctype="multipart/form-data">

    <legend class="border-bottom mb-4">Dodaj komentarz</legend>
    
    <form method="post" enctype="multipart/form-data">
        <ul class="list-group list-group-flush" style="height: 400px; overflow-x:hidden; float:left">
            <li class="list-group-item">
                <div class="textbox">
                    {{ comment_form.text }}
                </div>
                
            {% csrf_token %}
                
            <p><input type="submit" value="Dodaj komentarz"></p>
        </li>
        </ul>
        </form>

</form>

{% endblock %}