{% extends 'app/main_tlo.html' %}
{% load static %}

{% block content %}

<legend class="border-bottom mb-4">Parszywa trzynastka</legend>
<ol>
{% for user in ranking_sort|slice:":13" %}
<img class="rounded-circle mr-3" src="{{user.image.url}}" width="40" height="40" alt="avatar" style="position: absolute; left: 120px">
        <li style="color: white;">
        {% if user.ranga == "wood" %}

        <img class="tetetete" src="{% static '/app/css/images/wooden_template.png' %}" style="position: absolute; left: 120;" width="40" height="40" alt="avatar" >
        {% endif %}

        {% if user.ranga == "leaf" %}
        <img class="tetetete" src="{% static '/app/css/images/leaf_template.png' %}" style="position: absolute; left: 120;" width="40" height="40" alt="avatar">
        {% endif %}

        {% if user.ranga == "gold" %}
        <img class="tetetete" src="{% static '/app/css/images/golden_template.png' %}" style="position: absolute; left: 120;" width="40" height="40" alt="avatar">
        {% endif %}


        {% if user.ranga == "diamond" %}
        <img class="tetetete" src="{% static '/app/css/images/diamond_template.png' %}" style="position: absolute; left: 120;" width="40" height="40" alt="avatar">
        {% endif %}

        <span style="position: absolute; left: 180;">{{user.user.first_name}} {{user.user.last_name}}</span> <span style="float: right; margin-right: 50px;">{{user.punkty}}</span>
        </li>

        <br>
       
{% endfor %}
</ol>


{% endblock %}