{% extends 'app/main_tlo.html' %} 


{% block content %}

<div>

    
    <form method="POST" enctype="multipart/form-data">

        <legend class="border-bottom mb-4">Report</legend>
        
        <form method="post" enctype="multipart/form-data">
            <ul class="list-group list-group-flush" style="height: 400px; overflow-x:hidden; float:left">
                <div class="textbox" style="text-align: center;">
                    <p>Napisany report zostanie jak najszybciej przeanalizowany przez administrację oraz zostaną wyciągnięte odpowiednie wnioski.</p>
                    <div class="textbox">
                        <input type="text" name="message" required="" id="id_message" style="width: 600px;">
                    </div>
                    <button type="submit" name="report" class="btn btn-success" style="margin-left: 13px; width: 150px; margin-top: 50px;">Wyślij report</button>
                </div>
                    
                {% csrf_token %}
                    
            </ul>
            </form>

    </form>
</div>

{% endblock %}

