*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{

    font-size: 10px;
}


body{
    margin: 0;
    padding: 0;
    background: url(korepder-tlo.png) no-repeat;
    background-size: cover;
}





#logo-panel{

    width: 550px;
    margin-left: 290px;
    
    
}

.btn{

    width: 50%;
    background: none;
    border: 2px solid #4caf50;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}

.login-box{

    margin-left: 400px;
}

.login-box h1{

    font-size: 25px;
    color: #bdbdbd;
}



.textbox{

    width: 50%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 10px 0;
    border-bottom: 1px solid #4caf50;
}

.textbox i{
    width: 26px;
    float: left; 
    text-align: center;
}

.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

    




