*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
  font-size: 10px;
}

.main{

    position: relative;
}
body{
    background: url("./images/korepder-tlo.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.zoom {
    transition: width 1s, height 1s;
}





@keyframes showCard{

    0%{
        transform: scale(0) rotate(0);
    }
    
    100%{
        transform: scale(1) rotate(0);
    }
}


.card{
    animation: showCard 1s;
    background-color: #262626;

    
}


.card-body{
    height: 500px;
    width: 900px;
    
    
}


.btn{
    width: 50%;
    background: none;
    border: 2px solid #4caf50;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}

.btn.btn-danger{

    width: 30%;
    border: 2px solid red;
}

.btn.btn-primary{

    width: 30%;
    border: 2px solid rgb(27, 91, 165);


}


.btn.btn-secondary{
    border: 2px solid #252525;
    font-size: 12px;

}




.login-box h1{

    font-size: 25px;
    color: #bdbdbd;
}


.mail-box{
    padding: 10px;
}


.mail-box h1{

    font-size: 25px;
    color: #bdbdbd;
}


.card h1{
    
    color: #bdbdbd;
}

.card h5{

    color: #bdbdbd;
}


.card h6{

    color: #bdbdbd;
}






.textbox{
    overflow: hidden;
    font-size: 20px;
    border-bottom: 1px solid #4caf50;
    padding: 6px;
}

.textbox i{
    width: 26px;
    float: left; 
    text-align: center;
}

.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

    









